*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  box-sizing: inherit;
  font-size: 16px;
}
body {
  background-color: rgb(197, 191, 191);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
  max-width: calc(100% - 120px);
  margin: 0 auto;
}
.header {
  padding: 1em;
  display: flex;
  flex-flow: column wrap;
  gap: 1.5em;
  align-items: center;
  text-align: center;
}

.header__buttons {
  display: flex;
  gap: 10px;
}
.button {
  background-color: transparent;
  padding: 0.5em;
  cursor: pointer;
  border-radius: 6px;
}
.button:active {
  scale: 0.95;
}

.form {
  text-align: center;
  display: none;
}
input {
  background-color: transparent;
  padding: 0.5em;
  border-radius: 6px;
}

input[type="submit"],
input[type="reset"] {
  cursor: pointer;
}
label {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1.5em;
}
.output {
  text-align: center;
  font-size: 2em;
}
.box-container {
  --columns: 10;
  --rows: 10;
  --box-area: 50px;
  --gap: 3px;
  display: grid;
  grid-template-columns: repeat(var(--columns), minmax(auto, var(--box-area)));
  grid-template-rows: repeat(var(--rows), var(--box-area));
  gap: var(--gap);
  justify-content: center;
}
.box {
  border: 1px solid black;
  border-radius: 3px;
}
.colored-box {
  background-color: rgb(153, 148, 147);
}
